doctype html
html
    head
        title Make Your NFT
        link(href='/index.css' rel="preload" as="style" onload="this.rel='stylesheet'")
    body
        div.progress-modal
            div.circle-container
                div.updated-progres
                div.progess-container-circle 1
                div.progess-container-circle 2
                div.progess-container-circle 3
                div.progess-container-circle 4
            div#progess-status You will see your progress here
            button.close-modal(onclick="closeProgessModal()") Close

        div.nav-bar
            ul#nav_bar_items
                li
                    div.logo
                        h3 NFT
                        span Maker
            div
                button.nav-buttons.wallet-connect.inactive-wallet(onclick="alert('Wallet Coming Soon...')") Connect wallet
                a(href="https://twitter.com/home", target="_blank")
                    button.nav-buttons.twitter-connect Twitter
                a(href="https://discord.com/", target="_blank")
                    button.nav-buttons.discord-connect Discord
        div.container
            div(onclick="generateNft()").generate Generate
            div#wallet
                div.wallet-address-text Wallet Address
                input(type="text", required=true, placeholder="0x155A4EDD43CEFEFa5E4D39a983B413DEd345b9e8")#walletAddress.wallet-address
            input(type="number" id="nft_number" name="nft-number" min="1" max="3" value="1")
        div#footer.footer
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="/socket.io/socket.io.js")
        script(src='/socket.js')
        script(src='/index.js')
        script(src='/modal.js')

            
